
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
.card{
    max-width:50em;
    flex-direction:row;
    border:5px solid #f9f5f5;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.card img{
    max-width:60%;
    margin:auto;
    padding:0.5em;
    border-radius:0.7em;
}